POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE=
SQL_HOST=
SQL_PORT=
SQL_ENGINE=django.db.backends.postgresql

REDIS_HOST=localhost

SECRET_KEY=
DEBUG=1
ALLOWED_HOSTS=*
DJANGO_ALLOW_ASYNC_UNSAFE=1
DJANGO_CSRF_ORIGINS="http://127.0.0.1:8000"
CSRF_TRUSTED_ORIGINS="http://127.0.0.1:8000"


OPENAPI_KEY="key"

BASE_DOMAIN="http://127.0.0.1:8000"